* {
    font-family: 'Roboto', sans-serif;
    
}

main {
    background: white;
}

.tag {
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    margin: 10px;
  } 

  body {
      text-align: center;
      background: white;
  }

  header {
      background: rgb(247, 243, 243);
      padding: .5em 0;
   } 

  .bottom {
      background: rgb(247, 243, 243);
      margin-top: 5px;
      overflow: hidden;
  }

  img {
      max-width: 100%;
  }
 
